*, html, body {
    margin: 0;
    height: 100%;
}

.app-normal-text {
    color: #b9bbbd;
}

app-home {
    width: 100%;
    display: flex;
    justify-content: center;
}

app-about-me {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 200px 50px;
}

app-contact {
    width: 100%;
    display: flex;
    justify-content: center;
}