main {
    height: 100%;
    background-color: #0A0A0A;
    overflow: auto;

    app-header {
        display: flex;
        height: 50px;
        width: 100%;
        position: fixed;
    }

    section {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
}

#home {
    // background-color: #f9f9f9;
}

#about-me {
    // background-color: #eaeaea;
}

#contact {
    // background-color: #dcdcdc;
}